* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  font-family: "Arial", sans-serif;
  background-image: url("../images/CS.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-container {
  width: 100%;
  max-width: 390px;
}

.form-container {
  background: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px grey;
}

#main-header {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
  font-size: 1.4em;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #555;
}

.form-group input {
  height: 45px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid lightgrey;
}

.form-group select {
  height: 45px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid lightgrey;
}

.role-department {
  display: flex;
  justify-content: space-between;
}

.form-group button {
  height: 45px;
  width: 100%;
  padding: 15px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  transition: all 0.3s ease-in-out;
}

.form-group button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 0px 3px lightgrey;
}

.register-link {
  width: 100%;
  margin-top: 30px;
  padding-top: 10px;
  text-align: center;
  border-top: 1px solid lightgrey;
}

.register-link a {
  color: blue;
  text-decoration: none;
}

.register-link a, p {
  font-size: 14px;
}
